Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''
-A database is a collection of structured data that is organized in a way that enables efficient 
 storage, retrieval, and manipulation of information. Databases are widely used in computer 
 applications and are used to store various types of data, such as user profiles, financial records, 
 inventory data, and much more.

-SQL and NoSQL are two different types of databases that differ in their data models and querying 
 languages. Here's a brief overview of each:

SQL databases:

-SQL stands for Structured Query Language, which is a standard language used to manage and manipulate 
 relational databases.
-SQL databases are structured around tables with predefined schemas that define the columns and data 
 types that are allowed in each column.
-Data is stored in tables and relationships between tables are established using foreign keys.
-SQL databases are highly structured, making them well suited for complex queries and transactions.
-Examples of SQL databases include Oracle, MySQL, Microsoft SQL Server, and PostgreSQL.


NoSQL databases:

-NoSQL stands for "not only SQL", which means it doesn't rely solely on the SQL language to manage and 
 manipulate data.
-NoSQL databases have a more flexible data model than SQL databases, allowing them to handle 
 unstructured, semi-structured, and highly variable data.
-Instead of tables, data is stored in a variety of formats such as documents, key-value pairs, graphs, 
 and columns.
-NoSQL databases are highly scalable and perform well in distributed environments.
-Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

'''

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
'''
DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the 
structure of database objects such as tables, indexes, and constraints.

The following are the commonly used DDL commands and their purposes:

1. CREATE: This command is used to create a new database object such as a table, index, view, or 
trigger. For example, the following SQL statement creates a new table named "students" with 
three columns - id, name, and age:

#Example
CREATE TABLE students (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   age INT
);


2. DROP: This command is used to delete an existing database object. For example, the following SQL 
statement drops the "students" table:

#Example
DROP TABLE students;


3. ALTER: This command is used to modify the structure of an existing database object such as adding 
or removing columns, modifying constraints, or changing the data type of a column. For example, 
the following SQL statement adds a new column named "email" to the "students" table:

#Example
ALTER TABLE students ADD COLUMN email VARCHAR(50);


4. TRUNCATE: This command is used to remove all data from an existing table. For example, the following 
SQL statement removes all data from the "students" table:

#Example
TRUNCATE TABLE students;

In summary, DDL commands such as CREATE, DROP, ALTER, and TRUNCATE are used to manage the structure 
of database objects such as tables, indexes, and constraints. These commands allow database administrators 
and developers to create new objects, modify existing ones, and remove objects that are no longer needed.

'''

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
'''
DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate data in a database.

The following are the commonly used DML commands and their purposes:

1. INSERT: This command is used to insert new data into a table. For example, the following SQL statement 
inserts a new row into the "students" table:

#Example
INSERT INTO students (id, name, age) VALUES (1, 'John Doe', 20);


2. UPDATE: This command is used to modify existing data in a table. For example, the following SQL statement 
updates the age of the student with id 1 to 21:

#Example
UPDATE students SET age = 21 WHERE id = 1;


3. DELETE: This command is used to remove data from a table. For example, the following SQL statement deletes 
the row with id 1 from the "students" table:

#Example
DELETE FROM students WHERE id = 1;


In summary, DML commands such as INSERT, UPDATE, and DELETE are used to manipulate data in a database. These 
commands allow database administrators and developers to insert new data into tables, modify existing data, 
and delete data that is no longer needed.

'''

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
'''
DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database.

The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables 
in a database. The SELECT statement includes a list of columns to retrieve, the table or tables to 
retrieve data from, and an optional set of conditions to filter the results.

Here's an example of a SELECT statement that retrieves all columns from the "students" table:

SELECT * FROM students;

This statement retrieves all the data from the "students" table. The "*" is a wildcard character that 
specifies that all columns should be retrieved.

Here's an example of a SELECT statement that retrieves specific columns from the "students" table and 
filters the results based on a condition:

SELECT name, age FROM students WHERE age > 18;

This statement retrieves only the "name" and "age" columns from the "students" table where the "age" is 
greater than 18.

In summary, DQL commands such as SELECT are used to retrieve data from a database. These commands allow 
database administrators and developers to retrieve specific data from tables, filter the results based 
on conditions, and aggregate data using functions such as SUM, COUNT, and AVG.

'''

Q5. Explain Primary Key and Foreign Key.

In [ ]:
'''
Primary Key:
A primary key is a unique identifier for a record in a database table. It is a column or set of columns 
that uniquely identifies each row in a table. The primary key cannot be null and must have a unique value 
for each record in the table. It is used to ensure data integrity, as it enforces the uniqueness constraint 
on the table. The primary key can be a single column or a combination of columns, and it is used to link 
tables together.

Foreign Key:
A foreign key is a column or set of columns in a table that references the primary key of another table. 
It establishes a link between two tables and enforces referential integrity between them. A foreign key is 
used to ensure that the values in the referencing table match the values in the referenced table. It is used 
to maintain consistency in the data between the two tables. A foreign key can be null, but if it has a value, 
it must match a value in the referenced table's primary key.

In summary, a primary key is used to uniquely identify each record in a table, while a foreign key is used to 
establish a relationship between two tables and maintain referential integrity.

'''

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [4]:
'''
1. cursor(): The cursor() method creates a cursor object that can be used to execute SQL queries on the database. 

2. execute(): The execute() method is used to execute an SQL query on the database using the cursor object. The execute() 
   method takes an SQL query as its parameter. 

'''
import mysql.connector

mydb=mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()

mycursor.execute("Show databases")

for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''
The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause is the first clause executed in an SQL query. It specifies the table or 
tables from which the data will be retrieved.

WHERE clause: The WHERE clause is the next clause executed in an SQL query. It specifies the conditions 
that must be met for a record to be selected.

GROUP BY clause: The GROUP BY clause is executed after the WHERE clause. It is used to group the result 
set based on one or more columns.

HAVING clause: The HAVING clause is executed after the GROUP BY clause. It specifies the conditions that 
must be met for a group of records to be included in the result set.

SELECT clause: The SELECT clause is executed after the WHERE, GROUP BY, and HAVING clauses. It specifies 
the columns to be retrieved from the table or tables.

ORDER BY clause: The ORDER BY clause is executed last in an SQL query. It is used to sort the result set 
in ascending or descending order based on one or more columns.


'''